# Byte-compiled / optimized / DLL files
__pycache__/
/compontents/custom_opentherm/__pycache__
/compontents/custom_opentherm/__pycache__/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.esphome
nosetests.xml
coverage.xml
cov.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# pyenv
.python-version

# asdf
.tool-versions

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv-*/

# mypy
.mypy_cache/

# nix
/default.nix
/shell.nix

.pioenvs
.piolibdeps
.pio
.vscode/
!.vscode/tasks.json
CMakeListsPrivate.txt
CMakeLists.txt
